<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ query }}の検索結果</title>
</head>
<body>
    <h1>{{ query }}の検索結果</h1>
    <a href="/">ホームに戻る</a>
    <div>
        {% for video in results %}
            <div>
                <h2><a href="/watch/{{ video.videoId }}">{{ video.title }}</a></h2>
                <p>投稿者: {{ video.author }}</p>
                <img src="{{ video.thumbnailUrl }}" alt="{{ video.title }}">
            </div>
        {% endfor %}
    </div>
</body>
</html>
